<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   Team Name:
   Coach: <input type="text" name="coach"></p>
   Point Guard: <input type="text" name="point_guard"></p>
   Shooting Guard: <input type="text" name="shooting_guard"></p>
   Small Forward: <input type="text" name="small_forward"></p>
   Power Forward: <input type="text" name="power_forward"></p>
   Center: <input type="text" name="center"></p>
  

 </body>
</html>


